<h3 id="patient">patient</h3>

<p>The patient parameter can be used two ways:</p>

<h4 id="patient-id">patient= [id]</h4>

<p><code class="highlighter-rouge">id</code> is the logical id of the patient on the server which is obtained by a <a href="restfulapis_identification_patient.html">Patient </a> resource query.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET /{{include.content}}?patient=42
</span></code></pre>
</div>

<h4 id="patientidentifiersystemuriidentifier">patient.identifier={systemUri}|[identifier]</h4>

<p><code class="highlighter-rouge">:systemUri</code> is a uniform resource identifier which defines which system the identifer belongs to. For NHS Number this would be <code class="highlighter-rouge">https://fhir.nhs.uk/Id/nhs-number</code> and <code class="highlighter-rouge">:identifier</code> would be the NHS Number. Suppliers and organisations can create their own systemUri’s, e.g. the fictional Jorvik NHS Trust could use <code class="highlighter-rouge">http://fhir.jorvik.nhs.uk/Patient</code> and the identifier could be the hospital number.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET /{{include.content}}?patient.identifier=https://fhir.nhs.uk/Id/nhs-number|9876543210
</span></code></pre>
</div>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET /{{include.content}}?patient.identifier=https://fhir.jorvik.nhs.uk/Patient|12345678
</span></code></pre>
</div>