<h3 id="status">{{include.name}}</h3>

<div markdown="span" class="alert alert-success" role="alert">
GET /{{include.content}}?{{include.name}}=[status]</div>

<p>See <a href="https://www.hl7.org/fhir/DSTU2/search.html#token" >token</a> for details on this parameter.</p>
<p>To filter on {{include.name}} ( <code class="highlighter-rouge">{{include.options}}</code> )</p>

<div class="highlighter-rouge">
<pre class="highlight"><code>GET /{{include.content}}?{{include.name}}={{include.selected}}
</code></pre>
</div>
