<h3 id="code">code</h3>

<h4 id="codesystemuricode">code={systemUri}|[code]</h4>

<h4 id="codecode">code=[code]</h4>

<p><code class="highlighter-rouge">:systemUri</code> is a uniform resource identifier which defines which system the code belongs to. This is optional and if not present all matching codes will be returned regardles of CodeSystems.</p>

<p>To search for {{include.content}}s with <code class="highlighter-rouge">Baseline body mass index</code> using SNOMED CT</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET /{{include.content}}?code=http://snomed.info/sct|846931000000101
</span></code></pre>
</div>

<p>To search for all resources with ‘Body composition measure’ codes using SNOMED CT</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET /{{include.content}}?code:below=http://snomed.info/sct|363810004
</span></code></pre>
</div>

<p>The modifier <code class="highlighter-rouge">:below</code> is a modifier which returns all resources with codes that are subsumed by the specified search code and includes the specified code.</p>
