<div markdown="span" class="alert alert-success" role="alert" style="font-size:1.2em;">
	<i class="fa fa-warning"></i> <b>Release: 4</b>
	<br/>
	Functionality: Provide 14 STU3 (PractionerRole added in STU3) Care Connect profiles with example data for one care setting with audit of use and accessible by unsecure API interaction and also connect securly via OAuth2 (including an example of using scopes)
	<br/>
	Delivered: <b>12th January 2018</b>
	<br/>
	<i class="fa fa-exclamation-circle"></i> Link: [Reference Implementation - web interface](http://yellow.testlab.nhs.uk/){:target="_blank"}
</div>