
<h2 id="0-references">0. References</h2>

<table style="">
    <tr>
        <td><div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-gavel"></i> <b>HL7 UK | Care Connect Profile:</b><br> [{{include.resource}}]({{ site.fhir_profile_stu3_baseurl }}{{ include.page }}{{ site.fhir_profile_ext }} ){:target="_blank"}</div></td>
        <td><div markdown="span" class="alert alert-danger" role="alert"><i class="fa fa-fire"></i>  <b>HL7 FHIR Resource:</b><br> [{{ include.fhirname }}]({{ site.hl7_baseurl.stu3 }}{{ include.fhirlink }}){:target="_blank"}</div> </td>
        <td><div markdown="span" class="alert alert-success" role="alert"><i class="fa fa-cog"></i> <b>User Stories:</b><br> [{{include.content}}]({{ include.userlink }} )</div></td>
	</tr>
</table>
