
<h2 id="0-references">0. References</h2>

<table border="0" width="100%">
    <tr>
        <td><div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-cogs"></i> <b>Care Connect API:</b> <br> {{include.apicontent}}</div></td>
        <td><div markdown="span" class="alert alert-success" role="alert"><i class="fa fa-book"></i> <b>IHE Reference:</b><br> {{include.ihecontent}}</div> </td>
        <td><div markdown="span" class="alert alert-info" role="alert"><i class="fa fa fa-exchange"></i> <b>Architecture Patterns:</b><br> {{include.patterncontent}} </div></td>
</tr>
</table>
