<h4 id="{{include.content}}">{{include.para}} {{include.content}}</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.resource}}?{{include.content}}=[{{include.content}}]</div>

<p>See <a href="https://www.hl7.org/fhir/STU3/search.html#string" target="_blank">string</a> for details on this parameter.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.resource}}?{{include.content}}={{include.example}}
</span></code>
Return all {{include.resource}} resources with {{include.text1}} of {{include.text2}}.</pre>
</div>
