<h4 id="identifier">{{include.para}} {{include.content}} ({{include.subtext}})</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.resource}}?identifier=[system]|[code]<br>GET [baseUrl]/{{include.resource}}?identifier=[code]</div>

<p>See <a href="https://www.hl7.org/fhir/STU3/search.html#token" target="_blank">token</a> for details on this parameter.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.resource}}?{{include.content}}={{include.example}}
</span></code>
Return all {{include.resource}} resources with {{include.text1}} of {{include.text2}}.</pre>
</div>
