<h4 id="date">{{include.para}} date</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.content}}?patient=[id]&date=[date]</div>

<p>See <a href="https://www.hl7.org/fhir/STU3/search.html#date" target="_blank">date</a> for details on this parameter. ‘date’ can be used multiple times as a search parameter</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.content}}?patient=1&date=ge2010-01-01&amp;date=le2011-12-31
</span></code>
Return all {{include.content}} resources that have a date greater than or equal to 1st Jan 2010, a date less than or equal to 31st Dec 2011 and Patient with a logical id of 1.</pre>
</div>
