<h3 id="32-response-headers">5.2 Response Headers</h3>

<p><strong>Status Code</strong></p>

<table>
  <tbody>
    <tr>
      <td>201 Created</td>
    </tr>
  </tbody>
</table>

<p><strong>Http Headers</strong></p>

<table>
  <tbody>
    <tr>
      <td>
<strong>Content-Type:</strong> application/xml+fhir</td>
    </tr>
    <tr>
      <td>
<strong>Content-Location:</strong> [baseUrl]/OrderResponse/1/_history/1</td>
    </tr>
    <tr>
      <td>
<strong>Location:</strong> [baseUrl]/OrderResponse/1/_history/1</td>
    </tr>
  </tbody>
</table>
