<p>
This implementation guide outlines some suggested search parameters for the {{include.resource}} resource in the table below. To be conformant, provider systems are required to implement all of the SHALL parameters.
Provider systems may implement the full list of search parameters for the {{include.resource}} resource (<a href="{{include.link}}">HL7 FHIR DSTU2 {{include.resource}}</a>).
</p>
<div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note:</b> Details on the Search Parameters selection and feedback process can be found here [Search Parameters](profiles_search_parameters.html)</div>
<br>
