<h4 id="identifier">{{include.para}} {{include.content}} ({{include.subtext}})</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.resource}}?patient=[id]&identifier=[system]|[code]<br>GET [baseUrl]/{{include.resource}}?identifier=[code]</div>

<p>See <a href="https://www.hl7.org/fhir/DSTU2/search.html#token">token</a> for details on this parameter.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.resource}}?patient=1&{{include.content}}={{include.example}}
</span></code>
Return all {{include.resource}} resources that have a {{include.content}} with a {{include.text1}} of {{include.text2}} and Patient with a logical id of 1.</pre>
</div>
