<h4 id="subject">{{include.para}} subject</h4>

<p>See <a href="https://www.hl7.org/fhir/DSTU2/search.html#reference">reference</a> for details on this parameter. The subject parameter can be used two ways :</p>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.content}}?subject:Patient=[id]</div>

<p> <code class="highlighter-rouge">id</code> is the logical id of the patient on the server which is obtained by a <a href="api_entity_patient.html">Patient </a> resource query.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET /{{include.content}}?patient=42
</span></code>
Return all {{include.content}} resources for Patients with a logical id of 42</pre>
</div>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.content}}?subject:Patient.identifier=[system]|[code]</div>

<p><code class="highlighter-rouge">system</code> is a uniform resource identifier which defines which CodeSystem the identifer belongs to. For NHS Number this would be <code class="highlighter-rouge">https://fhir.nhs.uk/Id/nhs-number</code> and <code class="highlighter-rouge">code</code> would be the NHS Number.</p>
<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.content}}?subject:Patient.identifier=https://fhir.nhs.uk/Id/nhs-number|9876543210
</span></code>
Return all {{include.content}} resources for Patients with a NHS Number of 9876543210</pre>
</div>
