<h4 id="{{include.name}}">{{include.para}} {{include.name}}</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.content}}?{{include.name}}=[date]</div>

<p>See <a href="https://www.hl7.org/fhir/STU3/search.html#date" target="_blank">date</a> for details on this parameter. ‘{{include.name}}’ can be used multiple times as a search parameter</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.content}}?{{include.name}}=ge2010-01-01&amp;{{include.name}}=le2011-12-31
</span></code>
Return all {{include.content}} resources that have a {{include.name}} greater than or equal to 1st Jan 2010, a {{include.name}} less than or equal to 31st Dec 2011.</pre>
</div>
