<h3 id="searchresponse">2.2. Search Response</h3>

<p>If the search fails (cannot be executed, not that there is no matches), the return value is a status code 4xx or 5xx with an <a href="https://www.hl7.org/fhir/STU3/operationoutcome.html">OperationOutcome</a>.</p>
<p>If the search succeeds, the return content is a <a href="https://www.hl7.org/fhir/STU3/bundle.html">Bundle</a> with type = searchset containing the results of the search as a list of resources in a defined order. The result list can be long, so servers MAY use paging. If they do, they SHALL use this  <a href="https://www.hl7.org/fhir/STU3/http.html#paging">Paging</a> method for breaking the list into pages if appropriate. The server MAY also return an OperationOutcome resource with additional information about the search; if one is sent it SHALL NOT include any errors, and it shall be marked with an entry mode of include.</p>

<p>A full set of response codes can be found here <a href="profiles_api_codes.html">API Response Codes</a>. FHIR Servers SHALL support the following response codes:</p>

<table>
  <tbody>
    <tr>
      <td>200</td>
      <td>successful operation</td>
    </tr>
    <tr>
      <td>404</td>
      <td>resource not found</td>
    </tr>
    <tr>
      <td>410</td>
      <td>resource deleted</td>
    </tr>
  </tbody>
</table>
